default_language_version:
  python: python3.14
default_stages: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-symlinks
      - id: check-case-conflict
      - id: fix-byte-order-marker
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: check-added-large-files
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0  # PINNED in Poetry
    hooks:
    - id: black
  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1  # PINNED in Poetry
    hooks:
      - id: poetry-check
  #    - id: poetry-lock  # broken on pre-commit.ci
