services:
  mongo:
    image: "mongo:5"
    hostname: "mongo"
    restart: unless-stopped
    read_only: true
    # I'm not 100% sure if mongo needs a tmpfs mount, but I don't see how it would hurt it.
    tmpfs:
      - /tmp
    networks:
      - backend
    volumes:
      - "db:/data/db"
  redis:
    image: "redis:8.4-alpine3.22"
    hostname: "redis"
    restart: unless-stopped
    read_only: true
    # I'm not 100% sure if mongo needs a tmpfs mount, but I don't see how it would hurt it.
    tmpfs:
      - /tmp
    networks:
      - backend
    volumes:
      - redis:/data
  peppercord:
    image: "ghcr.io/regulad/peppercord:latest"
    dns:
      # Discord uses rapidly-reconfigured domain names to direct traffic to its WS and RTC gateways.
      # With PepperCord in production, I've had the best experience with the Google DNS servers
      # I suspect this is because Discord uses GCP and updates propagate the fastest internally.
      - "8.8.8.8"
      - "8.8.4.4"
      # These will go unused with the default configuration, unless the daemon is configured to allocate IPv6 subnets to all docker networks
      - "2001:4860:4860::8888"
      - "2001:4860:4860::8844"
    env_file: ".env"
    build: .
    restart: unless-stopped
    read_only: true
    depends_on:
      - "mongo"
      - "redis"
    tmpfs:
      - /tmp
    networks:
      - backend
      - frontend
    volumes:
      - "/etc/default/locale:/etc/default/locale:ro"
      - "/usr/share/locale:/usr/share/locale:ro"
      - "/usr/lib/locale:/usr/lib/locale:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
volumes:
  db:
  redis:
networks:
  backend:
    internal: true  # databases are fine without internet
  frontend:
    internal: false
