version: '3'
services:
  peppercord:
    image: ghcr.io/regulad/peppercord:latest
    environment:
      - PEPPERCORD_TOKEN=YOUR_TOKEN
    ports:
      - 5000:5000/tcp
    volumes:
      - config:/app/config
  mongo:
    image: mongo
volumes:
  config:
