discord.py[voice]
git+https://github.com/Rapptz/discord-ext-menus # Experimental Menu features, very cool
discord-pretty-help # Makes the help command look nice. Bad.
jishaku  # Useful development tools.
aiohttp # For asynchronous HTTP requests
motor # For asynchronous MongoDB
dnspython >= 2.1.0 # For MongoDB SRV connection strings
pyyaml # Parses YAML
jsonschema # Validates schema
psutil # System status
mcstatus # Minecraft Server
asyncio-dgram # mcstatus fsr
Pillow # Image editing
youtube_dl
ffmpeg
git+https://github.com/regulad/easy-gTTS-py.git
