name: Python

on:
  push:
    paths:
      - "**.py"
      - ".github/workflows/python.yml"
  pull_request:
    paths:
      - "**.py"
      - ".github/workflows/python.yml"
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
#  black:
#    needs: lint
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v2
#    - name: Set up Python 3.9
#      uses: actions/setup-python@v2
#      with:
#        python-version: 3.9
#    - name: Install black
#      run: |
#        python -m pip install --upgrade pip
#        pip install black
#    - name: Test reformat with black
#      id: black-check
#      continue-on-error: true
#      run: black --check -l 127 .
#    - name: Reformat with black
#      if: steps.black-check.outcome != 'success'
#      run: black -l 127 .
#    - name: Push changes
#      if: steps.black-check.outcome != 'success'
#      uses: zwaldowski/git-commit-action@v1
#      with:
#        commit_message: Automatic Reformatting
